doctype html
html
  include head.pug
  body
    header.rounded
      if user
        style.
          header {
            background: ##{user.headerBg};
            color: ##{user.avatarBorder};
            padding: 1em;
          }

          header .links {
            display: flex;
            position: absolute;
            right: 1em;
            bottom: 1em;
          }

          header .logout {
            color: ##{user.avatarBorder};
          }

          header .username {
            font-weight: bold;
          }

          header .avatar {
            margin-right: 1em;
            border: 2.5px solid ##{user.avatarBorder};
          }

          body {
            color: ##{user.textColor};
          }

          a {
            color: ##{user.linkColor};
          }

        image(src=user.avatar class='avatar rounded' width='48' height='48')
        span hi, 
        span.username  #{user.screenName}
        span.links
          a(href='/logout' class='logout') Logout

      else
        a(href='/login') Login with Twitter

    h1 Help Translate @taravancil's Tweets  
    main!= content
    script(src='listeners.js')
